<html>
  <head>
    <title>About Person Website</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <h1>Intro</h1>
    <p>
      Stephen William Hawking was an English theoretical physicist, cosmologist,
      and author who was director of research at the Centre for Theoretical
      Cosmology at the University of Cambridge at the time of his death. He was
      the Lucasian Professor of Mathematics at the University of Cambridge
      between 1979 and 2009.
    </p>
    <h1>Early Life</h1>
    <p>
      Hawking was born on 8 January 1942 in Oxford to Frank (1905–1986) and
      Isobel Eileen Hawking (née Walker; 1915–2013).
    </p>
    <p>
      Hawking began his schooling at the Byron House School in Highgate, London.
      He later blamed its "progressive methods" for his failure to learn to read
      while at the school. In St Albans, the eight-year-old Hawking attended St
      Albans High School for Girls for a few months. At that time, younger boys
      could attend one of the houses.
    </p>
    <p>
      Hawking began his university education at University College, Oxford, in
      October 1959 at the age of 17. For the first 18 months, he was bored and
      lonely – he found the academic work "ridiculously easy". His physics
      tutor, Robert Berman, later said, "It was only necessary for him to know
      that something could be done, and he could do it without looking to see
      how other people did it."
    </p>
    <h1>Career</h1>
    <h2>1966–1975</h2>
    <p>
      In his work, and in collaboration with Penrose, Hawking extended the
      singularity theorem concepts first explored in his doctoral thesis. This
      included not only the existence of singularities but also the theory that
      the universe might have started as a singularity. Their joint essay was
      the runner-up in the 1968 Gravity Research Foundation competition. In
      1970, they published a proof that if the universe obeys the general theory
      of relativity and fits any of the models of physical cosmology developed
      by Alexander Friedmann, then it must have begun as a singularity. In 1969,
      Hawking accepted a specially created Fellowship for Distinction in Science
      to remain at Caius.
    </p>
    <h2>1975–1990</h2>
    <p>
      Hawking returned to Cambridge in 1975 to a more academically senior post,
      as reader in gravitational physics. The mid to late 1970s were a period of
      growing public interest in black holes and the physicists who were
      studying them. Hawking was regularly interviewed for print and television.
      He also received increasing academic recognition of his work. In 1975, he
      was awarded both the Eddington Medal and the Pius XI Gold Medal, and in
      1976 the Dannie Heineman Prize, the Maxwell Medal and Prize and the Hughes
      Medal. He was appointed a professor with a chair in gravitational physics
      in 1977. The following year he received the Albert Einstein Medal and an
      honorary doctorate from the University of Oxford.
    </p>
    <a href="/">Home</a>
  </body>
</html>
