<html>
  <head>
    <title>Person works Website</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <h1>Known For:</h1>
    <ul>
      <li>Hawking radiation</li>
      <li>A Brief History of Time</li>
      <li>Penrose–Hawking theorems</li>
      <li>Bekenstein–Hawking formula</li>
      <li>Hawking energy</li>
      <li>Gibbons–Hawking ansatz</li>
      <li>Gibbons–Hawking effect</li>
      <li>Gibbons–Hawking space</li>
      <li>Gibbons–Hawking–York boundary term</li>
      <li>Thorne–Hawking–Preskill bet</li>
    </ul>
    <a href="/">Home</a>
  </body>
</html>
